* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*header stuff*/
.header-container {

    background-color: #1F2937;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
    gap: 1000px;
}
.header-logo {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}
.header-links {
    font-size: 18px;
    color: #E5E7EB;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    
}
.h1,
.h2,
.h3 {
    border: 1px solid white;

}

/* end header stuff */

.web-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



/* info thats held below header */

.info-container {
    background-color: #1F2937;
    padding: 60px 100px;
    display:flex;
    justify-content:space-evenly;
    gap: 50px;
}
.info-1 {
    width:50%;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.info-2 {
    width: 50%;
}
.sign-up-button {
    display: block;
    width: 100px;
    border-radius: 25px;
    background-color: #3882F6;
    color: white;
    padding: 10px 10px;
    text-align:center;
    font-style:bold;
}
.text-placeholder {
    justify-content: center;
}

/* end of info container */



/*begin info 2 container*/

.questionmark {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    border: 5px blue solid;
    border-radius: 25px;
}

.info2-head {
    background-color: whitesmoke;
    text-align:center;
    font-size: 30px;
    width: 100%;
}
.centerinfo-2 {
    background-color: whitesmoke;
    justify-content:center;
    width: 100%;
}
.info2-img-container {
    background-color: whitesmoke;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 60px;
} 
.info2-text {
    background-color: whitesmoke;
    padding: 10px;
    display:flex;
    margin: 0px 250px;
    justify-content: space-evenly;
    align-items:center;  
    text-align: center;
    font-size: 30px;
}
.box {
    max-width: 200px;
}

/*end info 2 container */



/* quote container */



.quote-container {
    background-color: lightgray;
    padding: 100px 500px;
    display: flex;
    justify-content: center;
}
.thor-align {
    text-align: right;
    padding-left: 70%;
}


/* end quote container */

.signup-container{
    background-color: blue;
    padding: 120px;
    display:flex;
    justify-content:center;
}
.footer-container{
    background-color: slategrey;
    padding: 40px;
    display:flex;
    justify-content:center;

}